<% content_for :body_class, 'bg-light' %>

<section class="section instrument-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @instrument.titulo %></h1>

      <ul class="pv1">
        <% if @instrument.marca? %>
        <li class="inline-block pr3"><%= @instrument.marca %></li>
        <% end %>

        <li class="inline-block pr3"><%= @instrument.modelo %></li>

        <% if @instrument.condicion? %>
        <li class="inline-block pr3"><%= @instrument.condicion %></li>
        <% end %>
      </ul>

      <div class="feature-image">
        <%= image_tag(@instrument.image_url(:default)) %>
      </div>

      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4">Descripcion</h3>
      <%= @instrument.descripcion %>


      <h3 class="subtitle is-4 pt5">Especificaciones</h3>

      <table class="table is-narrow">
        <% if @instrument.condicion %>
        <tr>
          <td class="has-text-weight-bold">Condicion:</td>
          <td><%= @instrument.condicion %></td>
        </tr>
        <% end %>

        <% if @instrument.color %>
          <tr>
            <td class="has-text-weight-bold">Color:</td>
            <td><%= @instrument.color %></td>
          </tr>
        <% end %>

        <% if @instrument.marca %>
          <tr>
            <td class="has-text-weight-bold">Marca:</td>
            <td><%= @instrument.marca %></td>
          </tr>
        <% end %>

        <tr>
          <td class="has-text-weight-bold">Modelo:</td>
          <td><%= @instrument.modelo %></td>
        </tr>
      </table>
    </div>
    </div>
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-5 has-text-centered"><%= number_to_currency(@instrument.precio) %></h4>
        <p class="has-text-centered mb4">Vendido por <%= @instrument.user.name %></p>
        <%= button_to 'Añadir al carrito', line_items_path(instrument_id: @instrument), class: 'button is-warning add-to-cart' %>
      </div>
    </div>
  </div>

  <% if instrument_author(@instrument) %>
    <%= link_to 'Editar', edit_instrument_path(@instrument), class: 'button' %>
  <% end %>
</section>